* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.banner {
    width: 1920px;
    height: 850px;
}

.banner-container {
    background: rgba(243, 95, 127, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 240px;
}

.banner-name {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-details {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin-bottom: 32px;
}

.banner-btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

/* feature section  */

.feature {

    text-align: center;
    width: 1440px;
    padding: 0px 240px;
}

.flower-name {
    margin-top: 32px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.flower-feature {
    margin-top: 178px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}
.feature-description {

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.feature-image {
    display: flex;
    justify-content: space-around;
    padding: 48px 240px 246px 240px;
    gap: 24px;
}

.pink-f {
    color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;

}
.red-f {
    color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;

}

.yellow-f {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    color: #477D1126;

}
.img-all {
    width: 310px;
    height: 428px;

    padding: 110px 78px 67px 76px;

}
/* sales off section  */
.sale-section {
    width: 1992px;
    height: 620px;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 0px 240px;
}

.sale-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px ;
    /* gap: 186px; */

}

.btn-sign-up {
    padding: 20px 43px;
    border: 0;
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    margin-top: 32px;

}
.sale-name {
    margin-bottom: 24px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.details {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    width: 594px;
    height: 60px;
    font-weight: 400;

}
.sale-img {
    width: 318px;
    height: 420px;  
    /* padding: 100px 429px 0 176px; */
    padding-right: 650px;
}
.insta-name {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    width: 180px;
    margin: 128px 870px 0 870px;
}
.insta-text {
    
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    width: 594px;
    font-weight: 400;
    margin: 24px 663px 48px 663px;
    line-height: 30px;

}
.insta-image {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 342px;
    height: 396px;
    margin: 0px 240px;
}
.background-container {
    background-image: url(./images/Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 128px 240px;
}
.text {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.background-description {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 16px 605px 48px 603px;
}
.background-container input {
    padding: 23px 513px 22px 22px;
    border: 0;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}
.btn-sub {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 18.5px 31px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    margin-left: 16px;
}
/* contact */
.contact {
    width: 1440px;
    height: 449px;
    padding: 50px 240px;
    border-radius: 5px;
    margin-bottom: 139px;
}

.contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(60deg, rgba(199, 14, 196, 0.316), white);
    padding: 30px;
    border-radius: 5px;
}

.contact-us-container input,
.text-area {
    padding: 23px 513px 22px 22px;
    border: 0;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

/* footer container */
.footer-container {
    text-align: center;
    width: 1922px;
    height: 449px;
    background-color: #111010;
    color: white;
    margin-top: 128px;
}

.footer-name {
    font-size: 48px;
    padding-top: 128px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer-container p small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.span-color {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
    font-weight: 400;
}